/* Resetting Padding & Margin */
* {
  margin: 0;
  padding: 0;
}

:root {
  color: white;
  background-image: url(../images/Day-Cabin.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

:root.light {
  color: white;
  background-image: url(../images/Day-Cabin.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

:root.dark {
  color: black;
  background-image: url(../images/Night-Cabin.jpg);
  background-position: 0% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* html {

} */

body {
  background-color: transparent;
}

.center-aligned {
  text-align: center;
}

#alert {
  display: none;
}

h1, h2 {
  color: black;
}

hr {
  border: 1px solid black;
  opacity: 1;
  max-width: 50%;
  margin: 0 auto;
}


.form-control {
  border: 1px solid black;
}

.theme-btn {
  color: rgb(0, 0, 0);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.t-list, .create, .task-name, .task-descrip, .date, .assigned-to, .status, .task-list {
  color: hsl(47, 49%, 91%);
}

.add-taskbtn {
display: block;
margin: 0 auto;
margin-top: 15px;
 color: #f4f4f4;
 text-decoration: none;
 border: 1px solid #ffbd5b;
 overflow: hidden;
}
.add-taskbtn:hover {
  box-shadow: 1px 1px 25px 10px;
  background-color: #e2a370;
}
.add-taskbtn::before {
  content: "";
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient (120def, transparent, rgba(146, 148, 248, 0.4), transparent);
  transition: all 650ms;
}
.add-taskbtn::before {
  left: 100%;
}

.alert {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
}
