/* Resetting Padding & Margin */
* {
  margin: 0;
  padding: 0;
}

:root {
  color: white;
  background-image: url(../images/Day-Cabin.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

:root.light {
  color: white;
  background-image: url(../images/Day-Cabin.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

:root.dark {
  color: black;
  background-image: url(../images/Night-Cabin.jpg);
  background-position: 0% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* html {

} */

body {
  background-color: transparent;
}

.center-aligned {
  text-align: center;
}

#alert {
  display: none;
}

h1, h2 {
  color: black;
}

hr {
  border: 1px solid black;
  opacity: 1;
  max-width: 50%;
  margin: 0 auto;
}


.form-control {
  border: 1px solid black;
}

.theme-btn {
  color: rgb(0, 0, 0);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
